@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
.box, .card, .card-example {
  -webkit-transition: box-shadow 0.3 cubic-bezier(0.25, 0.8, 0.25, 1);
  /* Safari */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.box:hover, .card:hover, .card-example:hover {
  cursor: pointer;
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#custom-search-content, #similar-search-content {
  margin: 5% 0;
  display: none;
}

#custom-search-content input[type=text], .searchbox input[type=text] {
  padding: 8px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 55px;
}
#custom-search-content input[type=text]:focus, .searchbox input[type=text]:focus {
  border-color: #333;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background-image: url("shoe.svg");
  background-repeat: repeat;
  background-color: #f1f1f1 !important;
}

.text-center, .authors {
  text-align: center;
}

.header {
  margin-top: 3%;
}
.header h1 {
  font-family: "Marck Script", cursive;
  font-size: 8rem;
  cursor: pointer;
}
.header img {
  height: 7.5rem;
}

.search-bar {
  grid-area: search;
}

.searchbox {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". search .";
  margin-top: 50px;
}

.shoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin: 0 10%;
  margin-bottom: 10%;
}

.card, .card-example {
  padding: 20px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card .card-caption, .card-example .card-caption {
  text-align: center;
  padding-top: 10px;
}
.card figure img, .card-example figure img {
  max-width: 100%;
  max-height: 100%;
}

.additional-data {
  display: none;
}

.authors {
  font-size: 1rem;
  margin-top: 10%;
  height: 10px;
  bottom: 20;
  width: 100%;
  z-index: -1;
}
.authors img {
  height: 8px;
}

.transitition-from-grey {
  width: 500px;
  height: 250px;
  filter: grayscale(100%);
  transition: filter 0.1s;
}
.transitition-from-grey:hover {
  filter: none;
}

#similar-search {
  grid-area: similar-search;
}

#custom-search {
  grid-area: custom-search;
}

.landing-cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". similar-search  custom-search .";
  margin-top: 50px;
}
.landing-cards img {
  padding: 15px;
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 15%;
}
.landing-cards h3 {
  text-align: center;
}

.box {
  text-align: center;
  height: 300px;
  background-color: #fff;
}

.example-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem;
}
.example-row .header {
  margin-top: 5%;
  text-align: center;
}
.example-row .example-item {
  padding: 10%;
}

#examples .header {
  text-align: center;
}

.results_text {
  text-align: center;
  margin: 5% 0;
}

#custom-search-content {
  background: #fff;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#custom-search-content .slidecontainer {
  width: 100%;
  /* Width of the outside container */
}
#custom-search-content .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#custom-search-content .slider:hover {
  opacity: 1;
}
#custom-search-content .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("/static/mini_heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
#custom-search-content .slider::-moz-range-thumb {
  width: 23px;
  height: 25px;
  border: 0;
  background: url("/static/mini_heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
#custom-search-content .weight {
  color: #fff;
  background-color: #808cd3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
}
#custom-search-content .item-group {
  text-align: center;
}
#custom-search-content .item-group .input-item .item-box {
  display: inline-block;
  margin: 5%;
  width: 20%;
}
#custom-search-content .item-group .input-item .item-box p {
  margin-top: 5px;
}
#custom-search-content .item-group .input-item .item {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#custom-search-content .item-group .input-item img {
  height: 100px;
  width: 100px;
}
#custom-search-content .item-group .input-item .arches {
  height: 150px;
  width: 90px;
}

#shoe-modal figure img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
  padding: 10%;
}
#shoe-modal .modal-shoeName {
  text-align: center;
  font-style: oblique;
}
#shoe-modal .modal-center-grid {
  text-align: center;
  padding: 2% 0;
}
#shoe-modal .item-box {
  display: inline-block;
  margin: 5%;
  width: 25%;
}
#shoe-modal .item-box p {
  margin-top: 5px;
}
#shoe-modal .item-box img {
  height: 100px;
  width: 100px;
}
#shoe-modal span {
  color: #337ab7;
}
#shoe-modal span:hover {
  text-decoration: underline;
  cursor: pointer;
}
#shoe-modal .other-shoes {
  text-align: center;
  padding: 5% 10%;
}

.center {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
