@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Marck+Script');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-image: url("shoe.svg");
  background-repeat: repeat;
  // background-color: #191919 !important;
  background-color: #f1f1f1 !important;
}
.text-center{
  text-align: center;
}

.header{
  margin-top: 3%;
  h1{
    font-family: 'Marck Script', cursive;
    font-size: 8rem; 
  }
  h2{
    font-size: 3rem;
    font-style: italic;
    color: rgba(20, 19, 19, 0.479);
  }
  img{
    height: 7.5rem;
  }
}

.header > img,
    .header > h1 {
        display: inline-block;
  }

#searcher{
  margin: 5% 0 ;
}

.shoes-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
  margin: 0 10%;
  .card{
    padding: 20px;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: box-shadow .25s; /* Safari */
    transition: box-shadow .25s;
    &:hover{
      cursor:pointer;
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: 0 0 5px #888;
    }
    .card-caption{
      text-align: center;
      padding-top:10px;
    }
    figure{
      img {
        max-width:100%;
        max-height:100%;
      }
    } 
  }
}

.authors{
  @extend .text-center;
  margin: 3%;
  font-size: 1rem;
  img {
    height: 8px;
  }
}