<html>

<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" type="text/css" href="/static/tooltipster.bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/tooltipster-sideTip-punk.min.css" />
  <title>Solemate</title>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b5b">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!--Source: Referenced Rasmus Fonseca's library for range slider-->
  <script src="https://cdn.rawgit.com/RasmusFonseca/d3RangeSlider/master/d3RangeSlider.js"></script>
  <!-- <link href="https://cdn.rawgit.com/RasmusFonseca/d3RangeSlider/master/d3RangeSlider.css" rel="stylesheet"> -->
</head>

<body>
  <div class="header text-center effect-grow">
    <h1 class="">
      <img class="logo" src="/static/logo.png">
      <span>Find your Solemate</span>
      <img class="logo" src="/static/logo.png">
    </h1>
  </div>

  <!-- Landing cards -->
  <div class="landing-cards">
    <div id = "similar-search" class="box">
      <img src="/static/search.png">
      <h3>Similar Shoes</h3>
    </div>
    <div id = "custom-search" class="box">
      <img src="/static/menu.png">
      <h3>Custom Search</h3>
    </div>
  </div>
  
  <!-- Similar search section -->
  <div id="similar-search-content">
    <div class="searchbox">
      <input id="similar-search-text" type="text" name="search" class="form-control" placeholder="Nike Zoom Pegasus 35">
      <input id="similar-search-button" type="button" value="Go!">
    </div>
      <div id ="examples" class="container">
        <h3 class="header"> Try out an example! </h3>
        <div class="example-row">
          <div class= "example-item">
            <div class="card-example">
              <figure>
                <img alt="shoe" class="shoeImage"
                  src="https://cdn.runrepeat.com/i/brooks/28163/brooks-men-s-dyad-10-running-shoe-brk-110286-1d-4078230-7-082-gry-blk-tan-mens-grey-black-tan-af03-600.jpg">
              </figure>
              <div class="card-caption">
                <h3 class="shoeName"> Brooks Dyad 10 </h3>
                
              </div>
            </div>
          </div>
          <div class="example-item">
            <div class="card-example">
              <figure>
                <img alt="shoe" class="shoeImage"
                  src="https://cdn.runrepeat.com/i/saucony/22906/saucony-women-s-guide-10-lr-running-shoe-maru-black-6-m-us-womens-maru-black-7c48-600.jpg">
              </figure>
              <div class="card-caption">
                <h3 class="shoeName"> Saucony Guide 10</h3>
              </div>
            </div>
          </div>
          <div class="example-item">
            <div class="card-example">
              <figure>
                <img alt="shoe" class="shoeImage"
                  src="https://cdn.runrepeat.com/i/saucony/22904/saucony-men-s-ride-9-running-shoe-grey-charcoal-red-8-m-us-mens-3e76-600.jpg">
              </figure>
              <div class="card-caption">
                <h3 class="shoeName">Saucony Ride 9</h3>
              </div>
            </div>
          </div>
        </div> <!--./example-row-->
      </div> <!--./examples -->
  </div> <!--./similar-search-content-->

  <!-- Custom Search Content -->
  <div id="custom-search-content">
    <div class="searchbox">
      <input id="custom-search-text" type="text" name="search" class="search-bar form-control" placeholder="Durable, high arch, comfortability">
    </div>
    <div class="item-group">
      <h3>Terrain Type</h3>
      <div class="input-item">
        <div class="item-box">
          <input type="checkbox" id="trail" name="trail" value="trail" class="item">
          <label id="trail-label" for="trail"><img class="item" alt="terrain-type" src="/static/trail.png"></label>
          <p>Trail <img data-tooltip-content="#trail_content" class="help" src="/static/question_mark.png"></p>
        </div>
        <div class="item-box">
          <input type="checkbox" id="road" name="road" value="road" class="item">
          <label id="road-label" for="road"> <img class="item" alt="terrain-type" src="/static/road.png"></label>
          <p>Road <img data-tooltip-content="#road_content" class="help" src="/static/question_mark.png"></p>
        </div>
      </div>
    </div>

    <div class="item-group">
      <h3>Arch Support</h3>
      <div class="input-item arches">
          <div class="item-box">
            <input type="checkbox" id="neutral" name="neutral" value="neutral" class="item">
            <label id="neutral-label" for="neutral"><img class="arches" alt="arch support" src="/static/high_arch.png"></label>
            <p>Neutral <img data-tooltip-content="#neutral_content" class="help" src="/static/question_mark.png"></p>
          </div>
          <div class="item-box">
            <input type="checkbox" id="stability" name="stability" value="stability" class="item">
            <label id="stability-label" for="stability"> <img class="arches" alt="arch support" src="/static/normal_arch.png"></label>
            <p>Stability <img data-tooltip-content="#stability_content" class="help" src="/static/question_mark.png"></p>
          </div>
          <div class="item-box">
            <input type="checkbox" id="motion_control" name="motion_control" value="motion control" class="item">
            <label id="motion_control-label" for="motion_control"> <img class="arches" alt="arch support" src="/static/flat_arch.png"></label>
            <p>Motion Control <img  data-tooltip-content="#motion_control_content" class="help" src="/static/question_mark.png"></p>
          </div>
        </div>
      </div>

      <!--Weight Slider-->
      <!-- <div class="item-group">
        <div class="input-item">
          <div class="item-box">
            <select class="weight">
              <option>Men</option>
              <option>Women</option>
            </select>
          </div>
          <div class="item-box">
            <p> Weight: <span id="current_weight">7.5</span>oz </p>
            <div class="slidecontainer">
              <input type="range" min="0.5" max="15" value="7.5" step = "0.1" class="slider" id="weight-range">
            </div>
          </div>
        </div> -->
        <!--Weight Slider-->

        <div>
            <p>Price: $</p> 
            <p id="price-text">0-500</p>
          <div id="price-slider"></div>
        </div>

      <div class="item-group">
        <input class="custom-search-button" type="button" value="Go!"></input>
      </div>

      </div>
    </div>
  </div>
  <!--./custom-search-content-->

  <!--  Target shoe grid  -->
  <div class="results_text"></div>
  <!-- individual shoe for Similar Shoe search -->
  <div class="individual_shoe"></div>
  <div class="shoes-grid"> </div>

  

  <!-- Modal -->
  <div class="modal fade" id="shoe-modal" tabindex="-1" role="dialog" aria-labelledby="shoe-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <figure>
          <img class="modal-shoeImage" src="https://cdn.runrepeat.com/i/nike/901/nike-air-zoom-pegasus-32-chaussures-de-course-homme-multicolore-multicolore-white-black-lsr-orange-pht-bl-42-1-2-eu-homme-multic-600.jpg">
        </figure>
        <div class="modal-center-grid shoeName-price">
            <h3 class="modal-shoeName">Nike Air Zoom Pegasus 35</h3>
            <h3 class="modal-price"></h3>
        </div>
        <div class="modal-center-grid">
          <div class="other-shoes">
            <!-- <div class="item-box"> -->
            <h4>Other Similar Shoes<br><br>
              <p class="modal-similarShoes"></p>
            </h4>
            <!-- </div> -->
          </div>
          <div class="modal-center-grid">
            <h4>Relevant Terms</h4>
            <p class="modal-relevantTerms"></p>
          </div>
          <div class="modal-center-grid relevant-sentence">
            <h4>Relevant Sentence</h4>
            <p class="modal-relevantSentence1"></p>
            <p class="modal-relevantSentence2"></p>
          </div>
          <div class="item-box">
            <img id="image-terrain" src="/static/trail.png" alt="Terrain">
            <p class="modal-terrain">Terrain</p>
          </div>
          <div class="item-box">
            <img id="image-arch_support" src="/static/trail.png" alt="Arch">
            <p class="modal-arch_support" >Arch</p>
          </div>
        </div>
        <!-- <div class="modal-center-grid">
          <div class="item-box">
            <p class="modal-men_weight">Men's weight: 10oz</p>
          </div>
          <div class="item-box">
            <p class="modal-women_weight" >Women's weight: 10oz</p>
          </div>
        </div> -->
        <div class="center">
          <a target="_blank" class="modal-amazonLink" href="https://www.amazon.com/Saucony-Mens-Guide-Running-Shoes/dp/B01MY0V5UY?SubscriptionId=AKIAING73PPL74JOUHRA&tag=runrepcom-rn-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01N1ZPZV6&psc=1">Find on Amazon</a>
        </div>
        <!-- <p class="modal-similarShoes">None</p>
        <p class="modal-corescore">None</p>
        <p class="modal-similarity">None</p>
        <p class="modal-relevantTerms">None</p>
        <p class="modal-amazonLink">None</p>
        <p class="modal-terrain">None</p>
        <p class="modal-arch_support">None</p>
        <p class="modal-men_weight">None</p>
        <p class="modal-women_weight">None</p> -->
        <div class="modal-svg center">
          <!-- <svg id="modal_graph" width=500 height=250>None</svg> -->
        </div>
      </div>
    </div>
  </div>

  <!-- authors -->
  <div class="authors">
    <p> Made with <img src="/static/heart.png"> by Tomohiro Tokuyama (tt397), Lily Liu (xl379), Nishant Goel (ng352),
      Irina Wang (iyw3), Greg Schultz (gjs86)</p>
  </div>

  <div class="tooltip_templates">
    <span id="trail_content">
      <h3>Trail</h3>
      <br>
      <p>Shoes best for trail, off road, mountains and other unstable surfaces.</p>
    </span>
    <span id="road_content">
      <h3>Road</h3>
      <br>
      <p>Shoes best for road, track and light gravel</p>
    </span>
    <span id="neutral_content">
      <h3>Neutral / severe overpronation / flat feet</h3>
      <br>
      <p>Shoes for runners who do not need any additional arch support (Around 50% of runners). Best for people with normal, high
      or medium high arches.</p>
    </span>
    <span id="stability_content">
      <h3>Stability / overpronation / normal arch</h3>
      <br>
      <p>Shoes for runners who need mild to moderate arch support (Around 45% of runners). Best for runners with a low arch.
      </p>
    </span>
    <span id="motion_control_content">
      <h3>Motion control / severe overpronation / flat feet</h3>
      <br>
      <p>Shoes for runners who needs a lot of arch support. Best for runners with flat feet.</p>
    </span>
  </div>

  <!-- dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="/static/index.js"></script>
  <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="/static/typeahead.jquery.js"></script>
  <script src="/static/tooltipster.bundle.min.js"></script>
</body>

</html>