<html>
<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/splash.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <title>Solemate</title>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b5b">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>
  <body>
    <div class = "header text-center"> 
      <h1> 
        <img class="logo" src="/static/logo.png">
        Find your Solemate
        <img class="logo" src="/static/logo.png">
      </h1>
    </div>
    
    <form id = "sender" method = "post" action ="/bleh">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
          <div class="input-group input-group-lg">
            <input id="input" type="text" name="search" class="form-control form-control-lg" placeholder="Soft and cushy">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-info"> Go! </button>
            </span>
          </div>
        </div>
      </div>
    </form>
    
    <!--  Shoes card grid  -->
    <div class = "shoes-grid"> 
      <!-- generate shoe cards -->
      {% if data|length > 0 %}
        {% for shoe in data %}
          <div class="card" data-toggle="modal" data-target="#exampleModalCenter">
          {% if shoe['shoeImage'] %}
          <figure>
            <img class="shoeImage" src="{{ shoe['shoeImage']| safe }}">
          </figure>
          {% endif %}
          <div class="card-caption">
            <h3 class="shoeName"> {{ shoe['shoeName'] }}</h3>
            <a class="shoeURL" target= "_blank" href="{{ shoe['shoeURL'] |safe }}">Shoe Link</a>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h1 class="text-center"> No matches found :( </h1>
      {% endif %}
    </div>

    

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
            <h3 class="modal-title modal-shoeName">None</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <a class="modal-shoeURL" target="_blank" href="">ShoeURL</a>
            
            <a class="modal-shoeImage" href="">ShoeImage</a>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

  <!-- authors -->
  <div class="authors">
    <p> Made with <img src="/static/heart.png"> by Greg Schultz (gjs86), Tomohiro Tokuyama (tt397), Lily Liu (xl379), Nishant Goel (ng352), Irina Wang (iyw3)</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/static/splash.js"></script>

  </body>
</html>